<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #383a3b; 
            color: #ff7124;
            padding: 1rem 1.2rem;
            text-align: center; 
            width: 400px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        header h1 {
            margin: 0;
            font-size: 1.8rem; 
        }

        .container {
            padding: 20px;
        }

        .container p {
            font-size: 0.9rem; 
            margin: 10px 0;
            text-align: left; 
        }

        .container {
            font-size: 1.5rem; 
        }

        .otp {
            font-size: 2.5rem;
            font-weight: bold;
            letter-spacing: 1rem;
            padding: 1rem 2rem;
            color: #ff7124;
        }

        footer {
            background-color: #383a3b; 
            color: #ff7124;
            padding: 1.2rem;
            bottom: 0;
            width: 400px;
            text-align: center;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
        }

        footer p {
            margin: 0;
            font-size: 0.8rem; 
        }
    </style>
</head>
<body>
    <header>
        <h1>Reelix</h1>
    </header>

    <div class="container">
        <p class="greeting">Hello <strong> <%= name %> </strong>,</p>
        <p>We are sorry hear, that you forget your password.</p>
        <p>Your OTP to reset password is:</p>
        <p class="otp"> <strong> <%= otp %> </strong></p>
        <p>This OTP is valid for <strong>5 minutes</strong>.</p>
        <p>Feel free to explore and reach out if you need any assistance.</p>
        <p>Thank you!</p>
    </div>

    <footer>
        <p>&copy; <span id="year"></span> Reelix. All rights reserved.</p>
    </footer>
    
    <script type="text/javascript" charset="utf-8">
      let currentYear = new Date().getFullYear();
      
      document.getElementById("year").textContent = currentYear;
    </script>
</body>
</html>